<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        // Generates a new ID for the device
        const KEY = "uid";
        let id = localStorage.getItem(KEY);
        if (!id) {
            id = '<%= newUsername %>';
            localStorage.setItem(KEY, id);
        }
        Object.defineProperty(window, 'cp4_global_uid', {
            configurable: false,
            enumerable: false,
            writable: false,
            value: id,
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="/javascripts/index.js" charset="utf-8"></script>
  </head>
  <body ng-app='app' ng-controller='appCtrl'>
    <h1><%= title %></h1>

    <section>
        <h2>Username:</h2>
        <p>
            Your username is <strong>{{username}}</strong>.
        </p>
    </section>

    <section>
        <div ng-repeat="g in games">
            <strong>{{g.id}}:</strong> {{g.players.length}} player<span ng-if="g.players.length > 1">s</span>.
        </div>
    </section>

  </body>
</html>
