<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        // Generates a new ID for the device
        const KEY = "uid";
        let id = localStorage.getItem(KEY);
        if (!id) {
            id = '<%= newUsername %>';
            localStorage.setItem(KEY, id);
        }
        Object.defineProperty(window, 'cp4_global_uid', {
            configurable: false,
            enumerable: false,
            writable: false,
            value: id,
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="/javascripts/index.js" charset="utf-8"></script>
    <script src="/javascripts/gameApiFactory.js" charset="utf-8"></script>
  </head>
  <body ng-app='app' ng-controller='appCtrl'>
    <h1><%= title %></h1>

    <section>
        <h2>Welcome!</h2>
        <p>
            Your username is <strong>{{username}}</strong>.
        </p>
    </section>

    <section>
	<p>Please play with someone around you. If you must play by yourself, open a new tab in incognito mode, open up a different browser, or use your phone.</p>
    </section>

<div class="column-sections">
  <div class="col">
    <section>
        <h2>Create game</h2>
        <button ng-click="createGame()">Create a new game</button>
    </section>

    <section>
        <h2>Join a game</h2>
        <form name='joinGameForm' ng-submit="joinGame(joinGameForm)" required>
            <label>
                Type the game ID here:<br/>
                <input type="text" ng-model="joinGameForm.id" required>
            </label>
            <input type="submit" value="Join">
        </form>
    </section>
  </div>
  <div class="col";
    <section>
        <h2>Your games <button ng-click="refreshGames()">refresh</button></h2>
        <div class="game" ng-repeat="g in games">
            <strong>{{g.id}}:</strong> {{g.players.length}} player<span ng-if="g.players.length > 1">s</span>.
            <div ng-if="g.started">
                <a href="/play/{{g.id}}">Go to game</a>
            </div>
            <div ng-if="!g.started">
                Waiting for more players to join&hellip;
                <button ng-if="g.owner === username" ng-click="startGame(g.id)">Start game!</button>
            </div>
        </div>
        <div class="no-games" ng-if="!games.length">
            No games :(
        </div>
    </section>
  </div>
</div>

  </body>
</html>
