<!DOCTYPE html>
<html>
  <head>
    <title>Playing game <%= game.id %></title>
    <link rel='stylesheet' href='/stylesheets/play.css' />
    <script type="text/javascript">
        // Generates a new ID for the device
        const KEY = "uid";
        let id = localStorage.getItem(KEY);
        if (!id) {
            // No username, so redirect to index
            window.location = "/";
        } else {
            Object.defineProperty(window, 'cp4_global_uid', {
                configurable: false,
                enumerable: false,
                writable: false,
                value: id,
            });

            window.cp4_game = <%- JSON.stringify(game) %>;
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="/javascripts/play.js" charset="utf-8"></script>
    <script src="/javascripts/gameApiFactory.js" charset="utf-8"></script>
  </head>
  <body ng-app='app' ng-controller='playCtrl'>

    <header>Playing game <%= game.id %></header>

    <header class="connectionErr" ng-if="connectionErr">
        A problem occurred communicating with the server. Please check your connection.
    </header>

    <!-- Game Over section (should occupy the whole page) -->
    <section class="game-finished">

    </section>

    <!-- Your Dice section -->
    <section class="your-dice">
	<div class="dice" ng-repeat="d in dice">
	  <img ng-src="/images/{{d}}-border.gif" height="75px"/>
        </div>
    </section>

    <!-- Game History section -->
    <section class="game-history">

    </section>

    <!-- Make a Guess section -->
    <section class="game-history">
        <form name="takeTurnForm" ng-submit="takeTurn(takeTurnForm.guess)">
            Enter a guess, of the form "# #".
            <input type="text" pattern="\d+ +\d+" ng-model="takeTurnForm.guess"/>
	    <input type="submit" value="Guess"/>
        </form>
        <strong>OR</strong>
        <button ng-click="takeTurn(false)">Call their bluff</button>
    </section>

   <img ng-if="showObjection" src="/images/giphy.gif"/>

  </body>
</html>
