body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: CORNFLOWERBLUE;
	color: white;
}

button, input[type="submit"] {
	border: 1px solid currentcolor;
	color: inherit;
	background: none;
	border-radius: 5px;
	padding: 6px;
	font-weight: bold;
	text-transform: lowercase;
	transition: background-color 100ms ease-in-out;
}

button:hover, input[type="submit"]:hover {
	background-color: rgba(255,255,255,.23);
}

a {
	color: white;
	transition: color 100ms ease-in-out;
}

a:hover {
	opacity: .7;
}

input[type="text"] {
  border: none;
  border-radius: 4px;
  color: cornflowerblue;
  font-weight: bold;
  padding: 4px;
}
