body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: CORNFLOWERBLUE;
	color: white;
}

button {
	border: 1px solid currentcolor;
	color: inherit;
	background: none;
	border-radius: 5px;
	padding: 6px;
}
