.connectionErr {
  margin: 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 7px;
  background-color: salmon;
  color: red;
}

.your-dice {
  text-align: center;
}

.dice {
  display: inline-block;
  padding: 4px;
}

header {
  text-align: center;
  font-size: 2em;
}

.game-finished {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  color: white;
  font-weight: bold;

  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22vmin;
}

.game-finished ~ * {
  display: none;
}

.game-finished.win {
  background-color: palegreen;
}

.game-finished.lose {
  background-color: salmon;
}

.column-sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}
